title: Malware analysis & reverse engineering lab
description: "Malware analysis & reverse engineering lab"
author:
  name: "gemesa"
  email: "gemesa@protonmail.com"
  url: "https://shadowshell.io"

baseurl: /

source: .
destination: ./_site
permalink: /:title

markdown: kramdown

defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

future: true
plugins:
  - jekyll-seo-tag
  - jekyll-sitemap

# Custom variables
owner : "Andras Gemes"
year : "2026"
