/*
   original: https://github.com/pages-themes/hacker 
   with custom theme modifications
*/

$backgroundColour: #161820 !default;
$codeBackgroundColour: #1f2833 !default;
$accentColour: #45a29e !default;
$headingColour: #66fcf1 !default;
$bodyColour: #efeff0 !default;
$linkColour: #45a29e !default;
$hoverColour: #66fcf1 !default;
$captionColour: #529e99 !default;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");